@{
    ViewBag.Title = "Home";
}

<h2>Manage application data</h2>
<ul>
    <li>
        @Html.ActionLink("Manage Xamarin Ambassador", "Index", "XamarinAmbassadors")
    </li>
    <li>
        @Html.ActionLink("Manage Universities", "Index", "Universities")
    </li>
</ul>
